html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.container{
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	background-color: #eee;
	padding: 20px;
}

#board{
	font-size: 50px;
	width: 3.45em;
	height: 5.75em;
	background-color: #eee;
	margin-right: auto;
	margin-left: auto;
}

.row{
	width: 100%;
	overflow: auto;
}
.game-square{
	text-align: center;
	width: 1.15em;
	height: 1.15em;
	line-height: 1.15em;
	background-color: white;
	border: 1px solid;
	border-color: #444;
	float: left;
	padding: 0;
	margin: 0;
}
#victory{
	height: 1.15em;
	color: #00cc00;
	font-size: .78em;
}

#new-game{
	font-size: .5em;
	color: white;
	text-decoration: none;
	background-color: #0000aa;
	border-radius: 10px;
	padding: 5px 35px;
}